* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/*========== Common ============*/
.main-content {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
}
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    line-height: 50px;
    padding: 0 16px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    background: #171100;
    border-radius: 24.5px;
}
/*========== Heading ============*/

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
}
.header .nav a {
    position: relative;
    color: #5f5b53;
    padding: 8px 21px;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
}

.nav a:hover,
.nav li a.active {
    color: #171100;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
}

.nav li a.active::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 6px;
    left: 21px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .action .btn {
    min-width: 144px;
}
