* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/*========== Common ============*/
.main-content {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
}
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    line-height: 50px;
    padding: 0 16px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    background: #171100;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.break-all {
    word-break: break-all;
}
/*========== Heading ============*/

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
}
.header .nav a {
    position: relative;
    color: #5f5b53;
    padding: 8px 21px;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
}

.nav a:hover,
.nav li a.active {
    color: #171100;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
}

.nav li a.active::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 6px;
    left: 21px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .action .btn {
    min-width: 144px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/*========== Hero ============*/

.hero {
    padding-top: 56px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}
/* Hero left */
.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    padding-bottom: 64px;
    object-fit: cover;
    width: 470px;
    height: 685px;
    flex-shrink: 0;
    border-radius: 20px;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .hero-summary .item {
    display: flex;
    align-items: center;
}
.hero-summary .item + .item {
    margin-top: 22px;
}
.hero-summary .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}
.hero-summary .icon {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #fff9e8;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .info .label {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 185.714%;
}

.hero-summary .info .title {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 166.667%;
}

/* Hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.content-block .heading {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 117.241%;
    letter-spacing: -1.16px;
}

.content-block .desc {
    margin: 22px 0;
    color: #5f5b53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.667%;
}

.content-block .cta-group {
    display: flex;
    margin: 38px 0 48px;
    align-items: center;
}

.content-block .cta-group .btn {
    min-width: 180px;
    border-radius: 32px;
    line-height: 64px;
    background: #ffb900;
}

.hero .watch-video {
    display: flex;
    margin-left: 28px;
    border: none;
    background-color: transparent;
    align-items: center;
}

.hero .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 166.667%;
}

.hero .watch-video .icon:hover {
    cursor: pointer;
}

.hero .content-block .desc1 {
    margin-top: 48px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.667%;
}
.hero .content-block .stats {
    margin-top: 8px;
    word-spacing: 10px;
}

.hero .content-block .stats strong {
    color: #171100;
    margin-top: 8px;
    font-family: Sen;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 122.727%;
}

/*========== Popular ============*/
.popular {
    margin-top: 135px;
    padding: 65px 0;
}

.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .heading {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 126.316%;
    letter-spacing: -0.76px;
}

.popular-top .desc {
    margin-top: 16px;
    max-width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.667%;
}
.popular-top .control {
    display: flex;
    gap: 18px;
}

.popular-top .control .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    color: #ffb900;
    border: 1px solid #ffb900;
    flex-shrink: 0;
    background-color: transparent;
}

.popular-top .control .control-btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: #ffb900;
}

.popular .course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular .course-item {
    flex: 1;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .course-list .info {
    margin: 16px 22px 22px;
}

.popular .course-list .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-list .head .title a {
    padding-right: 8px;
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 166.667%;
    word-break: break-all;
}

.popular .course-item .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item:hover {
    border-color: transparent;
}
.popular .course-item .rating .value {
    color: #fea31b;
    padding-left: 6px;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
}

.popular .course-item .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 185.714%;
    word-break: break-all;
}

.popular .course-item .footer {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .course-item .footer .price {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 166.667%;
}
.popular .course-item .footer .btn {
    border-radius: 25px;
    border: none;
}

.popular .course-item .footer .btn:hover {
    cursor: pointer;
    background: #ffb900;
}

/*========== Feedback ============*/

.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}
.feedback-list {
    display: flex;
    overflow: hidden;
}
.feedback .feedback-item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
}

.feedback-item .avatar {
    max-width: 72px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 72px;
    object-fit: cover;
}

.feedback-item .title {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 141.667%;
}

.feedback-item .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 185.714%;
}

.feedback-item .dots {
    margin-top: 28px;
    display: flex;
    align-items: center;
}

.feedback-item .dots .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #634700;
    cursor: pointer;
}

.feedback-item .dots .dot:hover {
    cursor: default;
    background-color: #ffb900;
}

.feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback-item blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    line-height: 153.846%;
}

/*========== Features ============*/

.features {
    padding: 65px 0;
    margin-top: 135px;
}

.features .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features .body .images {
    display: flex;
    gap: 0 30px;
}

.features .body .images img {
    width: 270px;
    height: 405px;
    flex-shrink: 0;
    border-radius: 16px;
    object-fit: cover;
}

.features .images img.lower {
    margin-top: 34px;
}

.features .body .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 41%;
}

.features .content .heading {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 126.316%;
    letter-spacing: -0.76px;
}

.features .content .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
}

.features .content .btn {
    margin-top: 32px;
    min-width: 137px;
    border-radius: 26px;
    background: #ffb900;
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
}

.features-2nd .body {
    padding: 65px 0;
    margin-top: 70px;
    flex-direction: row-reverse;
}

.features-2nd .body .content {
    width: 49%;
}

.features-2nd .body .images img {
    width: 470px;
    height: 440px;
    flex-shrink: 0;
    border-radius: 20px;
    object-fit: cover;
}

/*========== Blog ============*/

.blog {
    margin-top: 135px;
    background: #fffcf4;
    padding: 96px 0;
}

.blog .blog-top {
    text-align: center;
}

.blog-top .heading {
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 126.316%;
    letter-spacing: -0.76px;
}

.blog-top .desc {
    margin: 16px auto 0;
    width: 448px;
    color: #696262;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
}

.blog .blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.blog-list .blog-item {
    flex-shrink: 0;
    width: calc(100% / 3 - 20px);
    border-radius: 16px;
    background: #fff;
}

.blog-item .thumb {
    width: 100%;
    height: 250px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog-item .info {
    padding: 20px 20px 28px;
}
.blog-item .date {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-bottom: 12px;
}
.blog-item .date span {
    color: #5f5b53;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 185.714%;
}

.blog-item .date::before {
    content: "";
    display: inline-block;
    margin-right: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #ffb900;
}

.blog-item .date::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -27px;
    height: 1px;
    flex-shrink: 0;
    border-radius: 0.5px;
    background: #e2dfda;
    left: 0;
    bottom: 0px;
}

.blog-item .info .title a {
    display: inline-block;
    margin-top: 12px;
    color: #171100;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 175%;
}

.blog-item .info .btn {
    margin-top: 12px;
    border-radius: 25px;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
}

.blog-item .info .btn:hover {
    background: #ffb900;
}
.blog .dots {
    display: flex;
    gap: 6px;
    margin-top: 38px;
    justify-content: center;
}
.blog .dots .dot {
    width: 6px;
    height: 6px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #5f5b53;
    cursor: pointer;
}

.blog .dots .dot.active {
    cursor: default;
    background: #ffb900;
}

/*========== Footer ============*/
.footer {
    padding: 96px 135px 0;
    background: #2e2100;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .row .column {
    width: 21.6%;
}
.footer .row .column:first-child {
    width: 35%;
}

.footer .desc {
    margin-top: 18px;
    max-width: 267px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 185.714%;
}

.footer .socials {
    display: flex;
    margin-top: 18px;
    gap: 18px;
}

.footer .column .heading {
    margin-bottom: 43px;
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 175%;
}

.footer .row .column .heading::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 1px;
    bottom: -14px;
    left: 0;
    right: -48px;
    flex-shrink: 0;
    background: #59554b;
}

.footer .list a {
    display: inline-block;
    margin-bottom: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 185.714%;
}

.footer .list li a:hover {
    text-decoration: underline;
}
.footer .list li:last-child a {
    margin-bottom: 0;
}

.footer .list strong {
    color: #fff;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 185.714%;
}

.footer .copyright {
    color: #807d74;
    padding: 28px 0;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 185.714%;
}
